@{
    Layout = "_Layout";
}
<h2>Calc Service Demonstration</h2>
<ul>
    <li><a href="/CalcService/PassUsingModel">Using Model Calc</a></li>
    <li><a href="/CalcService/PassUsingViewData">Using ViewData Calc</a></li>
    <li><a href="/CalcService/PassUsingViewBag">Using ViewBag Calc</a></li>
    <li><a href="/CalcService/AccessServiceDirectly">Using Service Injection Calc</a></li>
</ul>
